.section-center {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 30rem;
  border-radius: 15px;
  border: solid #ffffff;
  position: relative;
  padding: 2rem;
  background: #8eddea;
}
.Toastify__toast {
  text-transform: capitalize;
}
